.top-bar {
    -fx-background-color: #004B88;
}

.top-bar .button {
    -fx-background-color: #444;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.image-background {
    -fx-background-color: white;
}
.stk-background {
    -fx-background-color: #c6c6c6;
}
#txtOrder {
    -fx-background-color: #004B88;
    -fx-text-fill: white;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-font-family: Calibri;
}
#btnLogOut {
    -fx-background-color: #004B88;
}
.round-button {
    -fx-background-color: transparent;
    -fx-background-radius: 100%;
    -fx-padding: 5;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.invisible-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: none;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}