.top-bar {
    -fx-background-color: #004B88;
}

.top-bar .button {
    -fx-background-color: #444;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.image-background {
    -fx-background-color: white;
}
.stk-background {
    -fx-background-color: #c6c6c6;
}
#txtOrder {
    -fx-background-color: #004B88;
    -fx-text-fill: white;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-font-family: Calibri;
}
#btnLogOut {
    -fx-background-color: #004B88;
}